<nav class="navbar navbar-setup">
    <a class="navbar-brand" routerLink="/loginSignIn">Social Educ</a>

    <div class="topnav" id="myTopnav">
      <a class="nav-item nav-link active" routerLink="/wall">Home</a>
      <a class="nav-item nav-link" routerLink="/student-Profile/1">Profile</a>
      <a class="nav-item nav-link" href="#">Schools</a>
      <a class="nav-item nav-link" href="#">Deegres</a>
      <a class="nav-item nav-link" href="#">Messages</a>
      <a class="nav-item nav-link" href="#">Notifications</a>
      <a href="javascript:void(0);" style="font-size:20px;" class="icon" (click)="myFunction()"><i class="fa fa-bars"></i></a>
    </div>
  </nav>