<div class="grid-container">
      <div class="grid-box box1">
          <div class=" me-border">  <!--user profile info-->
            <div> <img src="https://source.unsplash.com/random/200x50" alt="userCoverPicture"> </div>
            <div class="userPic">  <img src="https://source.unsplash.com/random/75x75" alt="userPicture"> </div>
            <div>Jean-Laurent Duzant</div>
            <div>Étudiant(e) (ECE TECH)</div>
        </div>
      </div>
      <div class="grid-box box2">
            <div class="text-left">
              <p><input type="text" placeholder="Post Title..." #postTitle></p>
            </div>
            
              <div class="postEditRow"> <!--row-->
                <div class="form-group">
                    <textarea type="text" class="form-control float-left" rows="3" placeholder="Exprimez-vous..." #postBody></textarea>
                  </div>

                  <div class="form-control-file">
                  <input type="file" >
                      <button (click)="addPost(postTitle.value, 'Jean-Laurent', postBody.value, '...', '...'); 
                      postTitle.value=''; postAuthor.value=''; postBody.value=''; postPicture.value=''; postMedia.value='';"> Post</button>    
                  </div>
              </div>   
      </div>
      <div class="grid-box box3">3 <a routerLink="/student-Profile">my profile</a></div>  
      <div class="grid-box box4">
          <div class="container p-2" *ngFor="let post of posts;">
              <div class="row col-lg-12 col-md-4">
                  <!-- profile post info -->
                  <div class="logo bg-light">
                      <img src="/assets/logo_90.png" alt="Logo 100" width="auto" height="auto" class="img-thumbnail" />
                    </div>
                  <div class="bg-light col-lg-7 col-md-5">
                      <div class="d-flex flex-column">
                          <div>
                                <!-- School profile pic -->  
                                <div class="content text-left" style="font-size: 14px;">
                                    <a routerLink="/detail/{{post.id}}"><h4>{{post.title}}</h4></a>
                                    <p>{{post.body}}</p>
                                </div>
                          </div>
                      </div>
                  </div>
                  <!-- left post box -->
                  <div class="date bg-light col-lg-3 col-md-5">
                    <P>Poste a {{post.date}}</P>
                  </div>             
              </div>
          </div>
      </div>
    </div>