<h1>student wall</h1>

<div class="grid-container">
      <div class="grid-box box1">
          <div class=" me-border">  <!--user profile info-->
            <div> <img src="https://source.unsplash.com/random/200x50" alt="userCoverPicture"> </div>
            <div class="userPic">  <img src="https://source.unsplash.com/random/75x75" alt="userPicture"> </div>
            <div>Jean-Laurent Duzant</div>
            <div>Étudiant(e) (ECE TECH)</div>
        </div>
      </div>
      <div class="grid-box box2">
          <form>
            <div class="text-left">
              <p><input type="text" placeholder="Post Title..." #postTitle></p>
            </div>
            
              <div class="postEditRow"> <!--row-->
                <div class="form-group">
                    <textarea type="text" class="form-control float-left" #postBody rows="3" placeholder="Exprimez-vous..."></textarea>
                  </div>

                  <div class="form-control-file">
                  <input type="file"  #postImage>
                      <button (click)="addPost(postTitle.value, postAutor.value, postBody.value); 
                       postTitle.value = ''; postAutor.value = ''; postBody.value = '';"> Post</button>    
                  </div>
              </div>   
            </form>   <!-- form area ends-->
      </div>
      <div class="grid-box box3">3</div>  
      <div class="grid-box box4">
          <div class="container p-2" *ngFor="let post of posts">
              <div class="row col-lg-12 col-md-4">
                  <!-- profile post info -->
                  <div class="logo bg-light">
                      <img src="/assets/logo_90.png" alt="Logo 100" width="auto" height="auto" class="img-thumbnail" />
                    </div>
                  <div class="bg-light col-lg-7 col-md-5">
                      <div class="d-flex flex-column">
                          <div>
                                <!-- School profile pic -->  
                                <div class="content text-left" style="font-size: 14px;">
                                  <h4>{{post.title}}</h4>
                                    <p>{{post.body}}</p>
                                </div>
                          </div>
                      </div>
                  </div>
                  <!-- left post box -->
                  <div class="date bg-light col-lg-3 col-md-5">
                    <P>Poste a {{post.date}}</P>
                  </div>             
              </div>
          </div>
      </div>
    </div>