<div class="grid-container">
    <div class="grid-box box1">
        <div class=" me-border">  <!--user profile info-->
          <div> <img src="https://source.unsplash.com/random/200x50" alt="userCoverPicture"> </div>
          <div class="userPic">  <img src="https://source.unsplash.com/random/75x75" alt="userPicture"> </div>
          <div>Jean-Laurent Duzant</div>
          <div>Étudiant(e) (ECE TECH)</div>
      </div>
    </div>
    <div class="grid-box box2">
        <!-- show post -->
        <div class="col-lg-12 col-md-4 p-3">
            <!-- post info -->
            <div class="row">
                <div class="logo">
                    <img src="{{post.picture}}" alt="">
                </div>
                <div class="postTitle">
                    <h1>{{post.title}}</h1>
                </div>
                <div id="button-option">
                    <button><a routerLink="/detail/{{post.id}}/edit"><i class="fa fa-pencil-square-o"></i></a></button>
                    <button (click)="postDelete();"><i class="fa fa-trash-o"></i></button>
                </div>
            </div>

            <!-- post contant -->
            <div class="row text-left">
                <div class="postBody col-lg-7">
                    <p>{{post.body}}</p>
                </div>
                <div class="postMedia col-lg-4">
                    <img src="{{post.media}}" alt="">
                </div>
            </div>

            <!-- post from who/when  also edit and delete option by the user-->
            <div class="text-center">
                <p>By {{post.author}} at {{post.date}} </p> 
            </div>

            <!-- like / comment / share buttons -->
            <div class="show-nb-Like-Comments">
                <hr>
                <p>{{post.numberOfLikes}} Likes | {{comments.length}} Comments</p>  <!-- {{nbComments}} -->
                <hr> 
            </div>
            <div class="row text-center ButtonStyle">
                <div class="like-button">
                    <button (click)="addLike();"><i class="fa fa-thumbs-up"></i> Like</button>
                </div>
                <div class="like-comment">
                    <button data-toggle="collapse" data-target="#Comment"><i class="fa fa-commenting"></i> Comment</button>
                </div>
                <div class="like-share">
                    <button><i class="far fa-share-square"></i> Share</button>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-box box3">
        3 <a routerLink="/student-Profile/1">my profile</a>
        <br>
        <button (click)="goBack();">go back</button>
    </div> 

    <div class="grid-box box4">
        <div class="collapse p-3" id="Comment">
            <!-- comment form -->
            
            <div id="Comment-form">
                <div class="row text-center p-3">
                    <div class="profile-pic">
                        <img src="https://source.unsplash.com/random/36x36" alt="">
                    </div>
                    <div class="comment-text">
                        <textarea cols="62.9" rows="2" placeholder="Exprimez-vous..." #comment></textarea>
                    </div>
                    <div class="ButtonStyle">
                        <button (click)="addComment('100', 'JL', '', comment.value); comment.value ='';"><i class="fa fa-commenting"></i></button>
                    </div>
                </div>
            </div>

            <!-- show comment -->
            <div id="Comment" class="p-3" *ngFor="let comment of comments;">
               <div class="row text-center">
                    <div class="profile-pic">
                        {{comment.userPicture}}
                        <img src="https://source.unsplash.com/random/36x36" alt="">
                    </div>
                    <div class="comment">
                        <p>{{comment.userName}}</p>
                        <p>{{comment.comment}}</p>
                    </div>
                    <div class="ButtonStyle">
                        <button><i class="fa fa-thumbs-up"></i> like</button>
                        <button data-toggle="collapse" data-target="#Reply"><i class="fa fa-reply"></i> Reply</button>
                    </div>
                    <div id="btn-style-edit">
                            <button (click)="editComment();"><i class="far fa-edit"></i></button>
                        </div>
                        <div id="btn-style-delete">
                            <button (click)="deleteComment({{comment.id}});"><i class="far fa-trash-alt"></i></button>
                        </div>
                </div>        
            </div> 
        </div>
    </div>
</div>