/* Div pop-up */
#pop-up{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(90, 90, 90, 0.5);
  z-index: 9999;
}

/* Hidden form-popup-comment */
#myEditCommentForm{
  display: none;
  width: 36%;
  height: auto;
  z-index: 20;
  padding: 5px;
  position: absolute;
  left: 35%;
  top: 50px;
}

textarea#textareaHiddenModifyCommentBody{
  width: 425px;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 4px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.form-popup-edit-comment{
  background-color: #95D7FF;
  overflow-y: auto;
  width: 50%;
  height: 50%;
  text-align: left;
}

.hiddenFormIcons{
  background-color: transparent;
  color: white;
  background: none;
  border: none;
  border-bottom: none;
  position: relative;
  left: 390px;
  bottom: 50px;
  font-size: 30px;
}

.hiddenFormIcons:hover{
  color: beige;
}

.save-form-popup{
  background-color: transparent;
  border: none;
  position: relative;
  left: 325px;
}

.save-form-popup:hover{
  background-color: beige;
}



.userPic img{
    background-size: cover; 
    bottom: 35px;
    position: relative;
    border-radius: 100%;
  }

.post-profile-pic img{
  width: 50%;
  height: 50%;
}

.postTitle{
    text-align: center;
    position: relative;
    left: 100px;
    top: 50px;
}

.postMedia img{
  width: 100%;
  height: 100%;
}

div#button-option button{
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 25px;
}

div#button-option a:hover{
  color: white;
}

div#button-option button:hover{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  color: white;
  font-size: 27px;
}

.postBody{
    padding: 30px;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    padding: 10px;
  }

  .grid-box {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;
    font-size: 20px;
    display: inline;
    border-radius: 10px;
  }

  .box1{
    grid-column: 1;
    grid-row: 1/ span 6;
    width: 230px;
  }

  .box3{
    grid-column: 3;
    grid-row: 1/ span 6;
    width: 230px;
  }

  .inline{
    display: inline;
  }

  div#Comment{
    text-align: left;
  }

  div#Comment-form .comment-text textarea{
    border: none;
    padding-left: 10px;
    resize: none;
  }

  .ButtonStyle button{
    background-color: transparent;
    border: none;
  }

  div#Comment .comment{
    width: 90%;
    text-align: left;
    padding-left: 10px;
  }

  div#Comment div#btn-style-edit button{
    background-color: transparent;
    border: none;
    border-radius: 10px;
  }

  /* div#Comment div#btn-style-edit button:hover{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    color: white;
  } */

  div#Comment div#btn-style-delete button{
    background-color: transparent;
    border: none;
    border-radius: 10px;
  }

  /* div#Comment div#btn-style-delete button:hover{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    color: white;
  } */

  .show-nb-Like-Comments hr{
    margin: 5px;
    text-align: left;
  }
  
  .show-nb-Like-Comments p{
    margin: 0;
    font-size: 15px;
    text-align: left;
  }

  div#Reply{
    width: 80%;
    font-size: 80%;
    position: relative;
    left: 100px;
  }

  div#Reply .comment{
    width: 80%;
  }