<div class="grid-container">
      <div class="grid-box box1">
          <div class=" me-border">  <!--user profile info-->
            <div> <img src="https://source.unsplash.com/random/200x50" alt="userCoverPicture"> </div>
            <div class="userPic">  <img src="https://source.unsplash.com/random/75x75" alt="userPicture"> </div>
            <div>Jean-Laurent Duzant</div>
            <div>Étudiant(e) (ECE TECH)</div>
        </div>
      </div>
      <div class="grid-box box2">
            <div class="text-left">
              <p><input type="text" placeholder="Title..." #postTitle></p>
            </div>
            
              <div class="postEditRow"> <!--row-->
                <div class="form-group">
                    <textarea type="text" class="form-control float-left" rows="3" placeholder="Express yourself..." #postBody></textarea>
                  </div>

                  <div class="form-control-file">
                  <input type="text" placeholder=" Your url..." #postMedia>
                      <button (click)="addPost(postTitle.value, 'Jean-Laurent', postBody.value, 'https://source.unsplash.com/random/210x210', postMedia.value); 
                      postTitle.value=''; postBody.value=''; postMedia.value='';"> Post</button>    
                  </div>    <!--postAuthor.value=''; postPicture.value=''; postMedia.value='';-->
              </div>   
      </div>
      <div class="grid-box box3">3 
            <a routerLink="/student-Profile/1">my profile</a>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore quasi ex blanditiis excepturi amet ullam cumque facere eaque distinctio, animi illum labore soluta sint at vero eum? Alias, fugit veritatis!</p>
        </div>  
      <div class="grid-box box4">

        

          <div class="container p-3" *ngFor="let post of posts;">
              <div class="row bg-light">
                  <!-- profile post info -->
                <div class="post-logo pl-1">
                      <img src="https://source.unsplash.com/random/75x75" alt="Logo 100" width="auto" height="auto" class="img-thumbnail" />
                </div>
                <div class="col-lg-7 col-md-5 post-content pl-2">
                    <div class="bg-light">
                    <a routerLink="/detail/{{post.id}}"><h4>{{post.title}}</h4></a>
                    <p>{{post.body}}</p>
                    </div>
                </div>
                    
                  <!-- left post box -->
                  <div class="col-lg-3 col-md-5 post-date pl-2">
                    <P>Poste a {{post.date}}</P>
                  </div>             
              </div>
          </div>
      </div>
    </div>