/* Div pop-up */
#pop-up{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(90, 90, 90, 0.5);
    z-index: 9999;
}

/* Student General */
#studentGeneral{
    background-color: bisque;   
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: beige;
    padding: 10px;
}

.grid-box {
    text-align: left;
    padding: 10px;
    font-size: 20px;
}

.box1{
    background-image: url("https://source.unsplash.com/random/1100x200");   /*1100x200 px*/
    background-position: center;
    background-size: cover;
    width: 1100px;
    height: 200px;
}

.box2 p{
    position: relative;
    left: 225px;
}

.studentImag{
    background-size: cover; 
    position: relative;
    border-radius: 100%;
    left: 25px;
    top: 100px;
}

/* Student posts */
#studentPosts{
    background-color: bisque;
    text-align: left;
}

#studentPosts .postImage{
    width: 100px;
    height: 100px;
}

#studentPosts div.postText{
    padding-left: 10px;
    width: 900px;
    height: auto;
}

/* Student Experience */
#studentExperience{
    background-color: bisque;
    text-align: left;
}

.experienceText{
    text-align: left;
    padding-left: 50px;
    width: 80%;
}

.experienceTop h1{
    padding: 10px;
}

.experienceTop button{
    color: black;
    font-size: 30px;
}

.experienceModifyIcons{
    color: black;
    font-size: 30px;
    position: relative;
    left: auto;
    top: -10px;
}

#studentExperience button{
    background-color: transparent;
    background: none;
    border: none;
    border-bottom: none;
}

#studentExperience button:hover{
    color: beige;
}

/* Student Education */
#studentEducation{
    background-color: bisque;
    text-align: left;
}

.educationText{
    text-align: left;
    padding-left: 50px;
    width: 80%;
}

.educationTop h1{
    padding: 10px;
}

.educationTop button{
    color: black;
    font-size: 30px;
}

.educationModifyIcons{
    color: black;
    font-size: 30px;
    position: relative;
    left: auto;
    top: -10px;
}

#studentEducation button{
    background-color: transparent;
    background: none;
    border: none;
    border-bottom: none;
}

#studentEducation button:hover{
    color: beige;
}

/* Student Skills */
#studentskills{
    background-color: bisque;
    text-align: left;
}

#studentskills button{
    background-color: transparent;
    background: none;
    border: none;
}

#studentskills .addButtonIcon{
    color: black;
    font-size: 25px;
}

#studentskills .skillText{
    text-align: left;
    padding-left: 50px;
    width: 90%;
}

#studentskills .deleteButtonIcon{
    color: black;
    font-size: 20px;
}

#studentskills .skillsIcons button{
    background-color: transparent;
    background: none;
    border: none;
    border-bottom: none;
    font-size: 25px;
    position: relative;
    left: 825px;
    top: -60px;

}

#studentskills button:hover{
    color: beige;
}

.skillModifyIcons{
    color: black;
    font-size: 30px;
    position: relative;
    left: auto;
    top: -10px;
}


/* Hidden form-popup-experience */
 #myExperienceForm{
    display: none;
    width: 36%;
    height: 500px;
    z-index: 20;
    padding: 5px;
    position: absolute;
    left: 35%;
    top: 50px;
} 

.form-popup-experience{
    background-color: silver;
    overflow-y: auto;
    width: 50%;
    height: 50%;
    text-align: left;
}

.form-popup-experience textarea{
    resize: none;
    border: none;
    height: 100px;
}

.field-size{
    width: 100%;
}

.field-size-dropDownList{
    width: 207px;
}

.hiddenFormIcons{
    background-color: transparent;
    color: white;
    background: none;
    border: none;
    border-bottom: none;
    position: relative;
    left: 375px;
    bottom: 50px;
    font-size: 30px;
}

.hiddenFormIcons:hover{
    color: beige;
}

#myExperienceForm input[type="checkbox"]{
    height: 25px;
    width:  25px;
}

.save-form-popup{
    background-color: transparent;
    border: none;
    position: relative;
    left: 325px;
}

.save-form-popup:hover{
    background-color: beige;
}

/* Hidden form-popup-education */
#myEducationForm{
    display: none;
    width: 35%;
    height: 500px;
    z-index: 20;
    padding: 5px;
    position: fixed;
    left: 35%;
    top: 20px;
    overflow-y: auto;
}

#myEducationForm input[type="checkbox"]{
    height: 25px;
    width:  25px;
}

#myEducationForm #valid-to{
    display: none;
}

.form-popup-education{
    background-color: silver;
    width: 50%;
    height: 50%;
    text-align: left;
}

/* Hidden form-popup-skill */
#mySkillForm{
    display: none;
    width: 35%;
    z-index: 20;
    padding: 5px;
    position: fixed;
    left: 35%;
    top: 20px;
}

.form-popup-skill{
    background-color: silver;
    width: 50%;
    text-align: left;
}

.skillModifyIcons{

}

/* All hidden pop-up forms */
#allFrom{
    display: none;
    width: 35%;
    height: 500px;
    z-index: 20;
    padding: 5px;
    position: fixed;
    left: 35%;
    top: 20px;
    overflow-y: auto;
}

.form-popup-all{
    background-color: silver;
    width: 50%;
    height: 50%;
    text-align: left;
}

#allFrom #experienceForm{
    display: none;
}

#allFrom #educationForm{
    display: none;
}

#allFrom #skillForm{
    display: none;
}