<div id="pop-up">
  <!-- student hidden experience form insert -->
<div class="container">
  <div class="form-popup-experience" id="myExperienceForm">
  <h2 class="text-center">Add expérience</h2>
  <button (click)="closeExperienceForm();
  titleExperience.value='';entrepriseExperience.value='';locationExperience.value='';deMonthFromExperience.value='';
  deYearFromExperience.value='';aMonthToExperience.value='';aYearToExperience.value='';;descriptionExperience.value='';"
  class="hiddenFormIcons"><i class="fa fa-times"></i></button><br>

  <p>les champs qui ont le * doivent être rempli</p>
  
  <span>Titre *</span>
  <input class="field-size" type="text" placeholder="Ex: Manager, employee ..." #titleExperience>
  <br>
  <label>Entreprise *</label><br>
  <input class="field-size" type="text" placeholder="Ex: Microsoft, Boeing ..." #entrepriseExperience>
  <br>
  <label>Lieu</label><br>
  <input class="field-size" type="text" placeholder="Ex: Paris, France" #locationExperience>
  <br>
  <label>SiteWeb</label><br>
  <input class="field-size" type="text" placeholder="Ex: https://www.google.com" #webSiteExperience>
  <br><br>

  <div class="container">
    <div class="row">
      <div>
        <p>De: *</p>
        <select name="months-from" class="field-size-dropDownList" #deMonthFromExperience>
          <option value="">Mois</option>
          <option value="Janvier">Janvier</option>
          <option value="Février">Février</option>
          <option value="Mars">Mars</option>
          <option value="Avril">Avril</option>
          <option value="Mai">Mai</option>
          <option value="Juin">Juin</option>
          <option value="Juillet">Juillet</option>
          <option value="Aout">Aout</option>
          <option value="Septembre">Septembre</option>
          <option value="Octobre">Octobre</option>
          <option value="Novembre">Novembre</option>
          <option value="Décembre">Décembre</option>
        </select>
        <br>
        <select name="year-from" class="field-size-dropDownList" #deYearFromExperience>
          <option value="">Année</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
          <option value="2007">2007</option>
          </select>
      </div>
      <div id="months-to-id">
        <p>&Agrave;: *</p>
        <select name="month-to" class="field-size-dropDownList" #aMonthToExperience>
          <option value="">Mois</option>
          <option value="Janvier">Janvier</option>
          <option value="Février">Février</option>
          <option value="Mars">Mars</option>
          <option value="Avril">Avril</option>
          <option value="Mai">Mai</option>
          <option value="Juin">Juin</option>
          <option value="Juillet">Juillet</option>
          <option value="Aout">Aout</option>
          <option value="Septembre">Septembre</option>
          <option value="Octobre">Octobre</option>
          <option value="Novembre">Novembre</option>
          <option value="Décembre">Décembre</option>
        </select>
        <br>
        <select name="year-to" class="field-size-dropDownList" #aYearToExperience>
          <option value="">Année</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
          <option value="2007">2007</option>
        </select>
      </div>
      <div id="show-present-txt" style="display:none;"><p>Pr&eacute;sent</p></div>
    </div>
  </div>
  <br>
  <input type="checkbox" id="working-now-checkbox" (click)="actualRole();">
  <label>Je travaille actuellement dans ce rôle</label>
  <br>
  <label>Description</label>  <br>
  <textarea class="field-size" rows="2" placeholder="Exprimez-vous..." #descriptionExperience></textarea>
  <br>
  <button class="save-form-popup" (click)="addExperience(titleExperience.value, entrepriseExperience.value, 
  locationExperience.value, webSiteExperience.value, deMonthFromExperience.value, deYearFromExperience.value, aMonthToExperience.value,
  aYearToExperience.value, descriptionExperience.value);
  titleExperience.value=''; entrepriseExperience.value=''; locationExperience.value=''; webSiteExperience.value='';
  deMonthFromExperience.value=''; deYearFromExperience.value=''; aMonthToExperience.value='';
  aYearToExperience.value=''; descriptionExperience.value='';">Enregistrer</button>
  </div>

</div>

<!-- student hidden education form insert -->
<div class="container">
  <div class="form-popup-education" id="myEducationForm">
    <div>
      <h2 class="text-center">Ajouter une &eacute;cole</h2><br>
      <button (click)="closeEducationForm();ecoleEducation.value='';diplomeEducation.value='';
      domaineEducation.value='';niveauEducation.value='';anneeFromEducation.value='';anneeToEducation.value='';
      descriptionEducation.value='';" class="hiddenFormIcons"><i class="fa fa-times"></i></button>
    </div>
    <div>
      <span>&Eacute;cole</span><br>
      <input class="field-size" type="text" placeholder="Ex: Ece Tech..." #ecoleEducation>
    </div>
    <br>
    <div>
      <span>Diplôme</span><br>
      <input class="field-size" type="text" placeholder="Ex: Ece Tech..." #diplomeEducation>
    </div>
    <br>
    <div>
      <span>Domaine d'&eacute;tude</span><br>
      <input class="field-size" type="text" placeholder="Ex: Ece Tech..." #domaineEducation>
    </div>
    <br>
    <span>Niveau</span><br>
    <select class="field-size" name="niveau-bac" id="select-niveau-bac" #niveauEducation>
      <option value="">Selectionne votre niveau &eacute;tude</option>
      <option value="Bac">Bac</option>
      <option value="Bac 1">Bac 1</option>
      <option value="Bac 2">Bac 2</option>
      <option value="Bac 3">Bac 3</option>
      <option value="Bac 4">Bac 4</option>
      <option value="Bac 5">Bac 5</option>
      <option value="Bac 6">Bac 6</option>
      <option value="Bac 7">Bac 7</option>
      <option value="Bac 8">Bac 8</option>
    </select>
    <br>
    <br>
  
    <div class="container row">
      <div>
        <span id="valid-at-title">Validé en</span><br>
        <select class="field-size" name="year-from" #anneeFromEducation>
          <option value="">Année</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
          <option value="2007">2007</option>
        </select>
      </div>
      <pre>   </pre>
      <div id="valid-to">
        <span>Prévu en</span><br>
        <select class="field-size" name="year-to" #anneeToEducation>
          <option value="">Année</option>
          <option value="2025">2025</option>
          <option value="2024">2024</option>
          <option value="2023">2023</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
          <option value="2007">2007</option>
        </select>
      </div>
    </div>
    <br>
    <input type="checkbox" id="valid-diploma-checkbox" (click)="diplomaValidation();">
    <label> Diplôme en cour</label>
    <br>
    <span>Description</span><br>
    <textarea class="field-size" rows="3" placeholder="Exprimez-vous" #descriptionEducation></textarea><br>
    <button (click)="addEducation(ecoleEducation.value,diplomeEducation.value,domaineEducation.value,
    niveauEducation.value,anneeFromEducation.value,anneeToEducation.value,descriptionEducation.value);
    ecoleEducation.value='';diplomeEducation.value='';domaineEducation.value='';niveauEducation.value='';
    anneeFromEducation.value='';anneeToEducation.value='';descriptionEducation.value='';"
    class="save-form-popup">Enregistrer</button>
  </div>
</div>

<!-- student hidden skill pop-up form -->
<div class="container">
    <div class="form-popup-skill" id="mySkillForm">
        <h2 class="text-center">Ajouter un Compétence</h2>
        <br>
        <button (click)="closeSkillForm();skillName.value='';"class="hiddenFormIcons"><i class="fa fa-times"></i></button>
        <br><br><br>
        <label>Ajouter votre compétence:</label><br>
        <input type="text" placeholder="Ex: Java, Communication..." #skillName><br>
        <button (click)="addSkill(skillName.value); skillName.value='';" class="save-form-popup">Enregistrer</button>
    </div>
</div>

<!-- student hidden modification pop-up for all form -->
<div class="container">
  <div class="form-popup-all" id="allFrom">

  </div>
  <div>

  </div>
</div>

</div>
<!-- student general info -->
<div class="container grid-container" id="studentGeneral">
  <div class="grid-box box1">
    <img class="studentImag" src="https://source.unsplash.com/random/200x200" alt="studentImag">
  </div>
  <div class="grid-box box2">
    <p>Jean-Laurent Duzant</p>
    <p>étudiant ( Ece Tech)</p> <!-- etudiante if user is a female-->
  </div>
  <div class="grid-box box3">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, officia commodi saepe, ipsa quis soluta excepturi eius suscipit facere molestias maxime libero delectus aperiam non vel deserunt distinctio cupiditate officiis?
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium possimus perspiciatis id, reprehenderit quam ipsam molestiae voluptas, repudiandae fuga cumque laboriosam incidunt quasi porro fugiat, ut animi ab dicta quis
    </p>
  </div>
</div>

<br>
<!-- student wall posts -->
<div class="container" id="studentPosts">
    <h1>Posts</h1>
    <div class="row p-4">
      <div class="image">
        <img src="https://source.unsplash.com/random/100x100" alt="icon-entreprice">
      </div>
      <div class="postText">
        <h5>Post titre</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae iure cumque officia. Tenetur modi obcaecati reiciendis minima, odit ipsam inventore accusamus quo soluta dolorum error facilis rerum tempora vitae repellendus.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus omnis odit corrupti magni magnam consequuntur quis! Exercitationem minus perferendis neque, a blanditiis unde inventore maiores, molestiae magni, quasi nemo id.
        </p>
      </div>
    </div>
    <hr>
  </div>

  <br>

<!-- student experience -->
<div class="container" id="studentExperience">
  <div class="row experienceTop">
      <h1>Expérience</h1>
      <button (click)="openExperienceForm();"><i class="fa fa-plus"></i></button>
  </div>
  <div *ngFor="let experience of experience;">
    <div class="row p-4">
        <div class="image">
          <img src="https://source.unsplash.com/random/100x100" alt="icon-entreprice">
        </div>
        <div class="experienceText">
          <p>{{experience.Title}}<br>
            {{experience.CompanyName}} <br>
            {{experience.CompanyAddress}} <br>
          <a href="{{experience.companyWebSite}}">Lien du site internet</a> <br>
          {{experience.Period}}</p>
          <P>{{experience.Description}}</P>
        </div>
        <div class="experienceModifyIcons">
          <button (click)="modifyExperiencePost(experience.id, 0);"><i class="fa fa-pencil"></i></button>
        </div>
      </div>
      <hr>
  </div>
  <hr>
</div>


<br>

<!-- student education -->
<div class="container" id="studentEducation">
    <div class="row educationTop">
        <h1>Education</h1>
        <button (click)="openEducationForm();"><i class="fa fa-plus"></i></button>
    </div>
    <div *ngFor="let education of education;">
      <div class="row p-4">
          <div class="image">
            <img src="https://source.unsplash.com/random/100x100" alt="icon-entreprice">
          </div>
          <div class="educationText">
            <p>{{education.SchoolName}} <br>
            {{education.Diploma}} <br>
            {{education.Period}} </p> <!--depuis Avril 2000 jusqu'a 2000-->
          </div>
          <div class="educationModifyIcons">
            <button (click)="modifyEducationPost(education.id, 1);"><i class="fa fa-pencil"></i></button>
          </div>
        </div>
    </div>
    <hr>
  </div>

  <br>

  <!-- student skills -->
<div class="container" id="studentskills">
    <div class="container row">
       <h1>Compétences</h1>
    <button (click)="openSkillForm();" class="addButtonIcon"><i class="fa fa-plus"></i></button>
    </div>
    <br>  
    <div *ngFor="let skill of skill;">
      <div class="container row">
        <div class="skillText">
            <p>{{skill.SkillName}} </p>
        </div>
        <button (click)="modifySkillPost(skill.id, 2);"><i class="fa fa-pencil"></i></button><br>
        <button (click)="deleteSkill(skill.id)" class="deleteButtonIcon"><i class="fa fa-trash-o"></i></button>
      </div>
      <hr>
    </div>
  </div>
