<!-- student general info -->
<div class="container grid-container" id="studentGeneral">
  <div class="grid-box box1">
    <img class="studentImag" src="https://source.unsplash.com/random/200x200" alt="studentImag">
  </div>
  <div class="grid-box box2">
    <p>Jean-Laurent Duzant</p>
    <p>étudiant/e ({{actualSchool}} Ece Tech)</p>
  </div>
  <div class="grid-box box3">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, officia commodi saepe, ipsa quis soluta excepturi eius suscipit facere molestias maxime libero delectus aperiam non vel deserunt distinctio cupiditate officiis?
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium possimus perspiciatis id, reprehenderit quam ipsam molestiae voluptas, repudiandae fuga cumque laboriosam incidunt quasi porro fugiat, ut animi ab dicta quis
    </p>
  </div>
</div>

<br>
<!-- student wall posts -->
<div class="container" id="studentPosts">
    <h1>Posts</h1>
    <div class="row p-4">
      <div class="image">
        <img src="https://source.unsplash.com/random/100x100" alt="icon-entreprice">
      </div>
      <div class="postText">
        <h5>Post titre</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae iure cumque officia. Tenetur modi obcaecati reiciendis minima, odit ipsam inventore accusamus quo soluta dolorum error facilis rerum tempora vitae repellendus.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus omnis odit corrupti magni magnam consequuntur quis! Exercitationem minus perferendis neque, a blanditiis unde inventore maiores, molestiae magni, quasi nemo id.
        </p>
      </div>
    </div>
    <hr>
  </div>

  <br>

<!-- student experience -->
<div class="container" id="studentExperience">
  <h1>Expérience</h1>
  <div class="row p-4">
    <div class="image">
      <img src="https://source.unsplash.com/random/100x100" alt="icon-entreprice">
    </div>
    <div class="experienceText">
      <p>Titre <br>
      Nom de l'entreprise <br>
      lieu de l'entreprise <br>
      <a href="####">Lien du site internet</a> <br>
      depuis Avril 2000 jusqu'a 2000</p>
    </div>
    <div class="experienceIcons">
      <button (click)="openForm();"><i class="fa fa-plus"></i></button><br>
      <button><i class="fa fa-pencil"></i></button>
    </div>
  </div>
  <hr>
</div>

<!-- student experience form insert -->
<div class="container">
  <div class="form-popup-experience" id="myExperienceForm">
  <h2 class="text-center">Add expérience</h2>
  <button (click)="closeForm();" class="hiddenFormIcons"><i class="fa fa-times"></i></button>
  
  <p>Titre</p>
  <input class="field-size" type="text" placeholder="Ex: Manager, employee ..." #title>
  <br>
  <label>Entreprise</label><br>
  <input class="field-size" type="text" placeholder="Ex: Microsoft, Boeing ..." #entreprise>
  <br>
  <label>Lieu</label><br>
  <input class="field-size" type="text" placeholder="Ex: Paris, France" #location>
  <br><br>

  <div class="container">
    <div class="row">
      <div>
        <p>De:</p>
        <select name="months-from" class="field-size-dropDownList">
          <option value="Mois">Mois</option>
          <option value="Janvier">Janvier</option>
          <option value="Février">Février</option>
          <option value="Mars">Mars</option>
          <option value="Avril">Avril</option>
          <option value="Mai">Mai</option>
          <option value="Juin">Juin</option>
          <option value="Juillet">Juillet</option>
          <option value="Aout">Aout</option>
          <option value="Septembre">Septembre</option>
          <option value="Octobre">Octobre</option>
          <option value="Novembre">Novembre</option>
          <option value="Décembre">Décembre</option>
        </select>
        <br>
        <select name="year-from" class="field-size-dropDownList">
          <option value="Année">Année</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
          <option value="2007">2007</option>
          </select>
      </div>
      <div id="months-to-id">
        <p>&Agrave;: </p>
        <select name="months-to" class="field-size-dropDownList">
          <option value="Mois">Mois</option>
          <option value="Janvier">Janvier</option>
          <option value="Février">Février</option>
          <option value="Mars">Mars</option>
          <option value="Avril">Avril</option>
          <option value="Mai">Mai</option>
          <option value="Juin">Juin</option>
          <option value="Juillet">Juillet</option>
          <option value="Aout">Aout</option>
          <option value="Septembre">Septembre</option>
          <option value="Octobre">Octobre</option>
          <option value="Novembre">Novembre</option>
          <option value="Décembre">Décembre</option>
        </select>
        <br>
        <select name="year-to" class="field-size-dropDownList">
          <option value="Année">Année</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
          <option value="2007">2007</option>
        </select>
      </div>
      <div id="show-present-txt" style="display:none;"><p>Pr&egrave;sent</p></div>
    </div>
  </div>
  <br>
  <input type="checkbox" id="working-now-checkbox" (click)="actualRole();">
  <label>Je travaille actuellement dans ce rôle</label>
  <br>
  <label>Description</label>  <br>
  <textarea class="field-size" rows="10" placeholder="Exprimez-vous..."></textarea>
  <br>
  <button class="save-form-popup-experience">Enregistrer</button>
  </div>
</div>

<br>

<!-- student education -->
<div class="container" id="studentEducation">
    <h1>Education</h1>
    <div class="row p-4">
      <div class="image">
        <img src="https://source.unsplash.com/random/100x100" alt="icon-entreprice">
      </div>
      <div class="educationText">
        <p>Nom de l'école <br>
        Nom du diplome <br>
        depuis Avril 2000 jusqu'a 2000</p>
      </div>
      <div class="educationIcons">
        <button><i class="fa fa-plus"></i></button><br>
        <button><i class="fa fa-pencil"></i></button>
      </div>
    </div>
    <hr>
  </div>

  <br>

  <!-- student skills -->
<div class="container" id="studentskills">
    <h1>Compétences</h1>
    <button>Ajouter une nouvelle compétences</button>
    <div class="p-4">
      <div class="row">
        <div>
          <p>skill 1</p>
          <div class="skillsIcons">
            <button><i class="fa fa-trash-o"></i></button>
            <hr>
          </div>
        </div>
      </div>
      <p>skill 2</p>
      <hr>
      <p>skill 3</p>
      <hr>
        <div class="collapse">
            <p>skill 4</p>
            <hr>
            <p>skill 5</p>
            <hr>
            <p>skill 6</p>
            <hr>
            <p>skill 7</p>
            <hr>
            <p>skill 8</p>
            <hr>
            <p>skill 9</p>
            <hr>
        </div>
    </div>

    <div class="showLess" data-toggle="collapse" data-target="#home">
      <hr>
        <p >Afficher</p>
      <hr>
    </div>
  </div>