.userPic img{
    background-size: cover; 
    bottom: 35px;
    position: relative;
    border-radius: 100%;
  }

.postTitle{
  padding: 30px 30px 5px 30px;
}

.postBody{
  padding: 30px 30px 5px 30px;
}

.postMedia{
  margin-top: 30px;
}

div#button-option button{
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 25px;
}

div#button-option a:hover{
  color: white;
}

div#button-option button:hover{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  color: white;
  font-size: 27px;
}

div#valide button{
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 25px;
}

div#valide button:hover{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  color: white;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    padding: 10px;
  }

  .grid-box {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;
    font-size: 20px;
    float: left;
    border-radius: 10px;
  }

  .box1{
    grid-column: 1;
    grid-row: 1/ span 6;
    width: 230px;
  }

  .box3{
    grid-column: 3;
    grid-row: 1/ span 6;
    width: 230px;
  }
